# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/

# Asset meta data should only be ignored when the corresponding asset is also ignored
!/[Aa]ssets/**/*.meta
[Aa]ssets/Sun_Temple/
[Aa]ssets/Rock and Boulders 2/
[Aa]ssets/Cartoon Heroes/
[Aa]ssets/AllSkyFree/
[Aa]ssets/SFX/
[Aa]ssets/cave_troll/
[Aa]ssets/UF Creator LITE/
[Aa]ssets/EffectExamples/
[Aa]ssets/Rhino/
[Aa]ssets/Altar_Ruins_FREE/
[Aa]ssets/AncientRuins/
[Aa]ssets/AQUAS-Lite/
[Aa]ssets/ASTROFISH_GAMES/
[Aa]ssets/AstrofishGames/
[Aa]ssets/CentaurBad/
[Aa]ssets/Concrete textures pack/
[Aa]ssets/Dessert/
[Aa]ssets/DungeonCharacters/
[Aa]ssets/EmaceArt - raft on the desert/
[Aa]ssets/FantasyPrefabs/
[Aa]ssets/GrassTextures/
[Aa]ssets/GreenBugGames/
[Aa]ssets/AstrofishGames/
[Aa]ssets/IgniteCoders/
[Aa]ssets/klen/
[Aa]ssets/laxer Assets/
[Aa]ssets/LB3D/
[Aa]ssets/LowlyPoly/
[Aa]ssets/Lowpoly Wells/
[Aa]ssets/MapleTree/
[Aa]ssets/Mine/
[Aa]ssets/Nature_Shield/
[Aa]ssets/ObstacleCoursePack/
[Aa]ssets/OldBridge/
[Aa]ssets/Polygrade/
[Aa]ssets/QS/
[Aa]ssets/RTP Vol.1/
[Aa]ssets/Shared/
[Aa]ssets/Toby Fredson/
[Aa]ssets/Troncos/
[Aa]ssets/True_Fantastic_Creatures/
[Aa]ssets/Windmill/
[Aa]ssets/YughuesFreeBushes2018/
[Aa]ssets/[UIFabrica]TrollNest_Free_v01/01.PSD/


# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.unitypackage

# Crashlytics generated file
crashlytics-build.properties

